<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Store</title>
</head>
<body>

    <header>
        <a href="#" class="logo"><i class="fas-fa-untensils">Voodo Ray's</i></a>
        <nav class="navbar">
            <a class="active" href="#Home">Home</a>
            <a href="#About">About</a>
            <a href="#Store">Store</a>
            <a href="#Cad">Contact</a>
        </nav>
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
        </div>
    </header>

    <form action="" id="search-form">
        <input type="search" placeholder="What your search ?" name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>

    <section class="home" id="home">

        <div class="swiper mySwiper home-slider">

            <div class="swiper-wrapper wrapper">

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Nothing better of coffee.</span>
                        <h2>Sale in all site</h2>
                        <p>A Voodoo Ray's is the best choice for drink the best coffe!!</p>
                        <a href="#" class="btn">Read More</a>
                    </div>
                    <div class="image">
                        <img src="img/sld0.jpeg" alt="img">
                    </div>                
                    
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                            <span>Nothing better of coffee.</span>
                            <h2>Sale in all site</h2>
                            <p>A Voodoo Ray's is the best choice for drink the best coffe!!</p>
                            <a href="#" class="btn">Read More</a>
                    </div>
                        <div class="image">
                            <img src="img/sld3.jpeg" alt="img">
                        </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                            <span>Nothing better of coffee.</span>
                            <h2>Sale in all site</h2>
                            <p>A Voodoo Ray's is the best choice for drink the best coffe!!</p>
                            <a href="#" class="btn">Read More</a>
                    </div>
                        <div class="image">
                            <img src="img/sld2.jpeg" alt="img">
                        </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section id="About">
        <div class="swiper-slide slide">
            <div class="content">
                    <span>Nothing better.</span>
                    <h2>Voodoo Ray's Coffe Shop</h2>
                    <p>A Voodoo Ray's is the best choice for drink the best coffe!!</p>
                    <a href="#" class="btn" onclick="btnn()">Click</a>
            </div>
                <div class="image">
                    <img src="img/bg0.jpg" alt="img">
                </div>
                <section class="btnsocial">
                    <div >
                <ul>
                <li><i class="fab fa-instagram" onclick="insta()"></i></li>
                <li><i class="fab fa-twitter" onclick="tt()"></i></li>
                <li><i class="fab fa-linkedin-in" onclick="lnk()"></i></li>
                <li><i class="fab fa-github" onclick="gh()"></i></li>
                
            </ul>            
            </div>
            
            </section>    
        </div>
        <section>

            <div class="chat-bar-collapsible">
                <button id="chat-button" type="button" class="collapsible">Chat with us!
                    <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
                </button>
        
                <div class="cbot">
                    <div class="full-chat-block">
                        <div class="outer-container">
                            <div class="chat-container">
                                <div id="chatbox">
                                    <h5 id="chat-timestamp"></h5>
                                    <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                                </div>
                                <div class="chat-bar-input-block">
                                    <div id="userInput">
                                        <input id="textInput" class="input-box" type="text" name="msg"
                                            placeholder="Tap 'Enter' to send a message">
                                        <p></p>
                                    </div>
        
                                    <div class="chat-bar-icons">
                                        <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                            onclick="heartButton()"></i>
                                        <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                            onclick="sendButton()"></i>
                                    </div>
                                </div>
        
                                <div id="chat-bar-bottom">


        </section>    

    


    




<script>
    function btnn(){
        Swal.fire(
            'Good job!',
            'You clicked the button!',
            'success')}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="js/scripts.js"></script>
<script src="javascript/cb.js"></script>
<script src="javascript/talk.js"></script>
</body>
</html>
